* {
    box-sizing: border-box;

}

.img-container {
    float: left;
    width: 300px;
    padding: 5px;
    position: relative;
    margin: 20px;
    padding-top: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.img-container a{
    padding: 2px 10px 2px 10px;
    background-color: #4367e3;
    color: white;
    border-radius: 2px;
    text-decoration: none;
    position: absolute;
    right: 0;
}
section {
    margin: auto;

}

